.container{
  width: 100% !important;
  height: 100vh !important;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  background:linear-gradient(140deg,rgb(36,36,223),rgb(7,7,166))!important;
}
.calculator{
  padding: 20px!important;
  border-radius: 10px!important;
  background-color: white!important;
}
form input{
  border:none!important;
  outline: 0!important;
  width:60px!important;
  height:60px!important;
  font-size:16px!important;
  background-color:rgb(91,91,151)!important;
  margin:2px!important;
  border-radius: 10px;
  color:white;
  font-weight: bolder;
  cursor: pointer;
}
form input[type="button"]:hover{
  background-color: rgb(137,22, 245)!important;
}

form .display{
  display: flex;
  justify-content: flex-end;
  margin: 50x 0px 15px 0px;
}

form .display input{
  text-align: right;
  flex:1;
  font-size: 40px !important;
  margin-bottom:1rem !important;
  background-color: rgb(64, 64, 64 ) !important;
}
form input.equal{
  width: 123px !important;

}

